[Unit]
Description=SPDM responder Daemon
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/spdm_responder
SyslogIdentifier=spdm_responder
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
