[Unit]
Description=spdm responder Daemon
Requires=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.EntityManager.service
After=xyz.openbmc_project.pmci-launcher.service
Wants=xyz.openbmc_project.pmci-launcher.service
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/spdm_responder
SyslogIdentifier=spdm_responder
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
